{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>About this repo</h2>
<p>This is a repository forked from <a href="http://github.com/lindsaymarkward">Lindsay Ward</a>, with changes as per
    the relevant <a href="https://github.com/CP1404/Practicals/tree/master/prac_10#flask--wikipedia-api">practical 10
        task</a></p>
<p>My CP1404 practicals repository can be found <a href="https://github.com/timothy-moxham/cp1404practicals">here</a></p>
{% endblock %}